# Redis ClusterIP Service for application access
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: microshop
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
