# Frontend Service
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: microshop
spec:
  type: ClusterIP
  selector:
    app: frontend-service
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
