# Order Service ClusterIP Service
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microshop
spec:
  type: ClusterIP
  selector:
    app: order-service
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
